.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.zpu
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
c5_pin_model_dump.txt
build/db/
build/incremental_db/
build/output_files/
build/simulation/
software/apps/*/*_obj/
software/zputa/zpu_obj/
software/iocp/iocp_obj/
software/build/
old/
*/old/
*/*/old/
*/*/*/old/
nohup.out
cpu/sav
build/.qsys_edit/
build/A-Hdrive
build/ADV7123.vhd
build/ADV7123_TEST.qpf
build/ADV7123_TEST.qsf
build/Clock_50to100.BAK.vhd
build/KEY_TEST.qpf
build/KEY_TEST.qsf
build/KEY_TEST.v
build/Makefile.1306
build/audio_shifter.v
build/audio_top.v
build/constraints.sdc
*.o
Manuals/
software/asm/CPM22-BIOS.asm
software/asm/MZ80AFI.asm.bak
software/asm/cpm22.mzf
software/asm/dz80.ini
software/asm/old/
software/howto
software/roms/MZ80AFI.BIN
software/roms/MZ80AFI.rom
software/roms/bios.rom
software/roms/cpm22.rom
software/tmp/
software/src/FatFS
software/src/sav
software/asm/cbios.asm.bak
software/asm/sav/
software/rfs_bank2.asm.1703.2200
software/roms/cbios_bank5.rom
software/roms/cbios_bank6.rom
software/roms/cbios_bank7.rom
software/roms/cbios_bank8.rom
software/src/sdtest.c
software/CPM/tools/
software/asm/rfs_bank2.prewriteread
software/roms/SHARP_MZ80A_RFS_CPM_IMAGE_1.img
software/roms/SHARP_MZ80A_RFS_IMAGE_1.img
software/roms/cmp
build/ddr2_sodimm.qpf
build/ddr2_sodimm.qpf.v1
build/ddr2_sodimm.qsf
build/ddr2_sodimm.qsf.v1
build/ledwater.qpf
build/ledwater.qsf
build/ledwater.v
build/mypll.cmp
build/mypll.qip
build/mypll.vhd
build/serial.qpf
build/serial.qsf
build/serial.v
build/serv_req_info.txt
build/template.qsf
build/unsaved.qsys
build/unsaved.sopcinfo
build/unsaved/
devices/sysbus/TCPU/
tools/Master0.z80
tools/Master1.z80
tools/assemble_rfs.sh
software/src/tools/.flashmmcfg.c.swo
software/src/tools/x
