.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.zpu
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
*.swo
c5_pin_model_dump.txt
build/db/
build/incremental_db/
build/output_files/
build/simulation/
software/apps/*/*_obj/
software/zputa/zpu_obj/
software/iocp/iocp_obj/
software/build/
old/
*/old/
*/*/old/
*/*/*/old/
nohup.out
cpu/sav
build/.qsys_edit/
build/A-Hdrive
build/ADV7123.vhd
build/ADV7123_TEST.qpf
build/ADV7123_TEST.qsf
build/Clock_50to100.BAK.vhd
build/KEY_TEST.qpf
build/KEY_TEST.qsf
build/KEY_TEST.v
build/Makefile.1306
build/audio_shifter.v
build/audio_top.v
build/constraints.sdc
*.o
Manuals/
schematics/previous
software/asm/CPM22-BIOS.asm
software/asm/MZ80AFI.asm.bak
software/asm/cpm22.mzf
software/asm/dz80.ini
software/asm/old/
software/howto
software/roms/MZ80AFI.BIN
software/roms/MZ80AFI.rom
software/roms/bios.rom
software/roms/cpm22.rom
software/tmp/
software/src/FatFS
software/src/sav
software/asm/cbios.asm.bak
software/asm/sav/
software/rfs_bank2.asm.1703.2200
software/roms/cbios_bank5.rom
software/roms/cbios_bank6.rom
software/roms/cbios_bank7.rom
software/roms/cbios_bank8.rom
software/src/sdtest.c
software/CPM/tools/
software/asm/rfs_bank2.prewriteread
software/roms/SHARP_MZ80A_RFS_CPM_IMAGE_1.img
software/roms/SHARP_MZ80A_RFS_IMAGE_1.img
software/roms/cmp
build/ddr2_sodimm.qpf
build/ddr2_sodimm.qpf.v1
build/ddr2_sodimm.qsf
build/ddr2_sodimm.qsf.v1
build/ledwater.qpf
build/ledwater.qsf
build/ledwater.v
build/mypll.cmp
build/mypll.qip
build/mypll.vhd
build/serial.qpf
build/serial.qsf
build/serial.v
build/serv_req_info.txt
build/template.qsf
build/unsaved.qsys
build/unsaved.sopcinfo
build/unsaved/
devices/sysbus/TCPU/
tools/Master0.z80
tools/Master1.z80
tools/assemble_rfs.sh
software/src/tools/.flashmmcfg.c.swo
software/src/tools/x
software/CPM/1M44/DSK/CPM_1M44_RFS_1.DSK
software/CPM/1M44/DSK/CPM_1M44_RFS_2.DSK
software/CPM/1M44/RAW/CPM_1M44_RFS_1.RAW
software/CPM/1M44/RAW/CPM_1M44_RFS_2.RAW
software/CPM/SDC16M/
software/CPM/cpm3/on2
CPLD/build/db/
CPLD/build/incremental_db/
CPLD/build/output_files/
CPLD/build/simulation/
CPLD/mz80b/
CPLD/tranZPUterSW.sav2
schematics/tranZPUter-SW/
schematics/tranZPUter/
software/asm/.cbiosII.asm.swo
software/roms/SA1510.orig
CPLD/build/tranZPUterSW_constraints.sdc.clk
CPLD/tranZPUterSW.vhd.clk
CPLD/tranZPUterSW.vhd.presweep
software/asm/include/Definitions.asm.swo
CPLD/SW/build/db/
CPLD/SW/build/incremental_db/
CPLD/SW/build/output_files/
CPLD/SW/build/simulation/
CPLD/SW/build/tranZPUterSW_constraints.sdc.clk
CPLD/SW/tranZPUterSW.sav2
CPLD/SW/tranZPUterSW.vhd.clk
CPLD/SW/tranZPUterSW.vhd.presweep
CPLD/SW/tranZPUterSW.vhd.sav3
CPLD/SW700/v1.2/build/db/
CPLD/SW700/v1.2/build/incremental_db/
CPLD/SW700/v1.2/build/output_files/
CPLD/SW700/v1.2/build/simulation/
CPLD/SW700/v1.2/build/tranZPUterSW_constraints.sdc.clk
CPLD/SW700/v1.2/tranZPUterSW.sav2
CPLD/SW700/v1.2/tranZPUterSW.vhd.clk
CPLD/SW700/v1.2/tranZPUterSW.vhd.presweep
FPGA/SW700/v1.2/VideoController.vhd.inpro
FPGA/SW700/v1.2/VideoController.vhd.orig
FPGA/SW700/v1.2/VideoController_Toplevel.vhd.orig
FPGA/SW700/v1.2/VideoController_pkg.vhd.orig
FPGA/SW700/v1.2/build/.qsys_edit/
FPGA/SW700/v1.2/build/PLLJ_PLLSPE_INFO.txt
FPGA/SW700/v1.2/build/VideoController.qsf.orig
FPGA/SW700/v1.2/build/VideoController_constraints.sdc.orig
FPGA/SW700/v1.2/build/abc.qip
FPGA/SW700/v1.2/build/core
FPGA/SW700/v1.2/build/db/
FPGA/SW700/v1.2/build/greybox_tmp/
FPGA/SW700/v1.2/build/incremental_db/
FPGA/SW700/v1.2/build/output_files/VideoController700.2
FPGA/SW700/v1.2/build/output_files/VideoController700.cdf
FPGA/SW700/v1.2/build/simulation/
FPGA/SW700/v1.2/devices/
FPGA/SW700/v1.2/functions.vhd
FPGA/SW700/v1.2/vidsav
CPLD/SW700/v1.3/build/db/
CPLD/SW700/v1.3/build/incremental_db/
CPLD/SW700/v1.3/build/output_files/
CPLD/SW700/v1.3/build/simulation/
CPLD/SW700/v1.3/build/tranZPUterSW_constraints.sdc.clk
CPLD/SW700/v1.3/tranZPUterSW.sav2
CPLD/SW700/v1.3/tranZPUterSW.vhd.clk
CPLD/SW700/v1.3/tranZPUterSW.vhd.presweep
FPGA/SW700/v1.3/VideoController.vhd.inpro
FPGA/SW700/v1.3/VideoController.vhd.orig
FPGA/SW700/v1.3/VideoController_Toplevel.vhd.orig
FPGA/SW700/v1.3/VideoController_pkg.vhd.orig
FPGA/SW700/v1.3/build/.qsys_edit/
FPGA/SW700/v1.3/build/PLLJ_PLLSPE_INFO.txt
FPGA/SW700/v1.3/build/VideoController.qsf.orig
FPGA/SW700/v1.3/build/VideoController_constraints.sdc.orig
FPGA/SW700/v1.3/build/abc.qip
FPGA/SW700/v1.3/build/core
FPGA/SW700/v1.3/build/db/
FPGA/SW700/v1.3/build/greybox_tmp/
FPGA/SW700/v1.3/build/incremental_db/
FPGA/SW700/v1.3/build/output_files/VideoController700.2
FPGA/SW700/v1.3/build/output_files/VideoController700.cdf
FPGA/SW700/v1.3/build/simulation/
FPGA/SW700/v1.3/devices/
FPGA/SW700/v1.3/functions.vhd
FPGA/SW700/v1.3/vidsav
tools/Mars4_5.jar
docker/QuartusPrime/Dockerfile.13.0.1.old
docker/QuartusPrime/Quartus-web-13.0.1.232-linux.tar
docker/QuartusPrime/files/13.0/
docker/QuartusPrime/files/13.1/
docker/QuartusPrime/files/17.1/
docker/QuartusPrime/local/
docker/QuartusPrime/quartus_docker.sh
FPGA/SW700/v1.2/build/VideoController700.pti_db_list.ddb
FPGA/SW700/v1.2/build/VideoController700.tis_db_list.ddb
FPGA/SW700/v1.2/build/output_files/greybox_tmp/
FPGA/SW700/v1.2/build/x
FPGA/SW700/v1.3/build/VideoController700.pti_db_list.ddb
FPGA/SW700/v1.3/build/VideoController700.tis_db_list.ddb
FPGA/SW700/v1.3/build/coreMZ.qsf.bak
FPGA/SW700/v1.3/build/x
software/mif/monitor_SA1510.mif.bak
software/mif/monitor_SA1510.mif.tst
FPGA/SW700/v1.2/build/output_files/
FPGA/SW700/v1.3/XX
FPGA/SW700/v1.3/build/output_files/
FPGA/SW700/v1.3/devices.old/
CPLD/SW700/v1.3.bak/
FPGA/SW700/v1.3.bak/
FPGA/SW700/v1.3/PLL/Video_Clock.BAK.vhd
FPGA/SW700/v1.3/PLL/Video_Clock_II.BAK.vhd
FPGA/SW700/v1.3/PLL/Video_Clock_III.BAK.vhd
FPGA/SW700/v1.3/PLL/Video_Clock_IV.BAK.vhd
FPGA/SW700/v1.3/VideoController.vhd.prechangegputobram
FPGA/SW700/v1.3/build/VideoController_constraints.sdc
FPGA/SW700/v1.3/build/coreMZ_E115_description.txt
FPGA/SW700/v1.3/coreMZ_constraints.sdc.old
FPGA/SW700/v1.3/prechange.vhd
FPGA/SW700/v1.3/prechange2.vhd
FPGA/SW700/v1.3/softT80/constraints_t80_ok
FPGA/a-z80/
FPGA/a-z80_latest.tar.gz
FPGA/nextz80/
FPGA/nextz80_latest.tar.gz
FPGA/SW700/v1.3/VideoController/VideoController_constraints.sdc.orig
SD/
devices/sysbus/BRAM/TZSW_DualPort32-64BootBRAM.vhd
devices/sysbus/BRAM/TZSW_DualPort3264BootBRAM.vhd
software/NASCAS
software/CAS
software/MZF
software/BAS
software/CPM/CPM00_MZ800
software/CPM/CPM00_SYSTEM
software/CPM/CPM01_TURBOP
software/CPM/CPM02_HI_C
software/CPM/CPM03_FORTRAN80
software/CPM/CPM04_MBASIC
software/CPM/CPM05_COBOL80_v13
software/CPM/CPM06_COBOL80_v20
software/CPM/CPM07_COBOL80
software/CPM/CPM08_Z80FORTH
software/CPM/CPM09_CPMTEX
software/CPM/CPM10_DISKUTILFUNC5
software/CPM/CPM11_MAC80
software/CPM/CPM12_PASCALMTP_v561
software/CPM/CPM13_MTPUG_01
software/CPM/CPM14_MTPUG_02
software/CPM/CPM15_MTPUG_03
software/CPM/CPM16_MTPUG_04
software/CPM/CPM17_MTPUG_05
software/CPM/CPM18_MTPUG_06
software/CPM/CPM19_MTPUG_07
software/CPM/CPM20_MTPUG_08
software/CPM/CPM21_MTPUG_09
software/CPM/CPM22_MTPUG_10
software/CPM/CPM23_PLI
software/CPM/CPM24_PLI80_v13
software/CPM/CPM25_PLI80_v14
software/CPM/CPM26_TPASCAL_v300a
software/CPM/CPM27_WORDSTAR_v30
software/CPM/CPM28_PLM80
software/CPM/CPM29_ZSID_v14
software/CPM/CPM30_WORDSTAR_v400
software/CPM/CPM31_WORDSTAR_v330
software/CPM/CPM32_ZCPR3
software/CPM/CPM33_ZCPR3_COMMON
software/CPM/CPM_MC_5
software/CPM/CPM_MC_C0
software/CPM/CPM_MC_C1
software/CPM/CPM_MC_C2
software/CPM/CPM_MC_C3
software/CPM/CPM_MC_C4
software/CPM/CPM_MC_C5
software/CPM/CPM_MC_C6
software/CPM/CPM_MC_C7
software/CPM/CPM_MC_C8
software/CPM/CPM_MC_C9
software/CPM/CPM_MC_D0
software/CPM/CPM_MC_D1
software/CPM/CPM_MC_D2
software/CPM/CPM_MC_D3
software/CPM/CPM_MC_D4
software/CPM/CPM_MC_D5
software/CPM/CPM_MC_D6
software/CPM/CPM_MC_D7
software/CPM/CPM_MC_D8
software/CPM/CPM_MC_D9
software/CPM/CPM_MC_E0
software/CPM/CPM_MC_E1
software/CPM/CPM_MC_E2
software/CPM/CPM_MC_E3
software/CPM/CPM_MC_E4
software/CPM/CPM_MC_E5
software/CPM/CPM_MC_E6
software/CPM/CPM_MC_E7
software/CPM/CPM_MC_E8
software/CPM/CPM_MC_E9
software/CPM/CPM_MC_F0
software/CPM/CPM_MC_F1
software/CPM/CPM_MC_F2
software/CPM/CPM_MC_F3
software/CPM/CPM_MC_F4
software/CPM/CPM_MC_F5
software/CPM/CPM_MC_F6
software/CPM/CPM_MC_F7
software/CPM/CPM_MC_F8
software/CPM/CPM_MC_F9
software/CPM/CPM_RFS_1
software/CPM/CPM_RFS_2
software/CPM/PLM80
software/CPM/tosort
FPGA/SW700/v1.3/coreMZ.vhd.bak
FPGA/SW700/v1.3/softZPU/softZPU.vhd.bak
schematics/sep/
software/MZB
software/CPM/320K/DSK
software/CPM/320K/RAW
software/CPM/720K/DSK
software/CPM/720K/RAW
software/CPM/1M44/DSK
software/CPM/1M44/RAW
software/CPM/CPM_MULTICOMP_contents.txt
software/disks

